
@page { 
  margin: auto;
}

html {  
  display         : flex;
  align-items     : center;
  justify-content : center;
  font-family     : 'Open Sans';
}

body {
  display         : flex;
  width           : 100%;
  min-width       : 315px;
  max-width       : 550px;
  height          : 100%;
  flex-direction  : column;
  align-items     : center;
  justify-content : center;
  margin          : 5rem 10rem 0 10rem;
}

#Checkboxes1 {
  grid-area: a;
  display: flex;
  place-self: center;
}

.employee_record {    

  grid-area        : b;
  display          : grid;  
  background-color : aliceblue;
  grid-template    : 1fr 1fr 2rem 1fr 1fr / repeat(3, auto);  
  border: .2rem solid lightskyblue
}

.employee_record:hover {
  box-shadow: 6px 3px 15px grey;
  cursor: pointer;
}

.hours_input {
  display           : flex;  
  height            : 2rem;  
  margin            : .5rem;
  place-self        : center;
  align-items       : center;
  grid-column       : 2;  
  grid-row          : 4;
  width             : 100%;  
  /*grid-column-end   : 4;*/
}


.value {  
  display           : flex;
  grid-column       : 2 / 4;  
  height            : 2rem;
  padding           : 1rem; 
  align-items       : center;
  border-bottom     : .1rem solid lightskyblue;
}

.identifier {
  
  height           : 2rem; 
  width            : -webkit-fill-available;  
  padding          : 1rem;
  display          : flex;
  place-self       : center;
  grid-column      : 1;
  justify-content  : flex-end;
  align-items      : center;  
  background-color : lightskyblue;
}

#logo {
  width         : 8rem;
  margin-bottom : 2rem;
}

#input_button {  
  margin          : .5rem;
  grid-column     : 3;
  grid-row        : 4;
  place-self      : center;  
  width           : 7rem;
  height          : 2rem;
}

main {
  width: 100%;
  height: auto;
  display: grid;
  grid-row-gap: 2rem;
  grid-template-areas: 'a'
                       'b';
}

#pay_data {
  height: 25rem;
  width: 100%;
  grid-area: b;
  display: grid;
  grid-template-areas: 'head head head'
                       'reg_id reg_val reg_val'
                       'ot_id ot_val ot_val';
  background-color: lightskyblue;
  border              : .2rem solid #DCDCDC;
  overflow: visible;
}

#pay_data:hover {
  box-shadow: 3px 3px 15px grey inset;
  cursor: pointer;
}