

html {  
  display         : flex;
  align-items     : center;
  justify-content : center;
  font-family     : 'Open Sans';
}

body {
  display         : flex;
  width           : 100%;
  min-width       : 450px;
  max-width       : 550px;
  height          : 100%;
  flex-direction  : column;
  align-items     : center;
  justify-content : center;
  margin          : 5rem 10rem 0 10rem;
}

#Checkboxes1 {
  grid-area  : a;
  display    : flex;
  place-self : center;
}


.employee_record {    
  grid-area        : b;
  display          : grid;  
  background-color : aliceblue;
  grid-template    : repeat(4, auto) / repeat(3, auto);  
  border           : .2rem solid lightskyblue
}

.employee_record:hover {
  box-shadow : 6px 3px 15px grey;
  cursor     : pointer;
}

.shift_input_container {
  width  : 100%;
  margin : 1rem 0 1rem 0;
  
  place-self      : center;
  display         : flex;
  flex-direction  : row;
  justify-content : space-evenly;
  grid-column     : span 3;
}

#shift_start_container, #shift_end_container {
  font-size       : .75em;
  display         : flex;   
  flex-direction  : column;      
  align-items     : center;  
  justify-content : center;
  width           : 30%;  
  height          : 100%;  
}

#shift_submit_button {
  width : 30%;
}

.shift_input {
  height : 1.5rem;
  width  : 100%;  
  font-size: 1.5rem;
}


.value {  
  display           : flex;
  grid-column       : 2 / 4;  
  height            : 2rem;
  padding           : 1rem; 
  align-items       : center;
  border-bottom     : .1rem solid lightskyblue;
}

.identifier {
  
  height           : 2rem; 
  width            : -webkit-fill-available;
  width            : -moz-available;
  padding          : 1rem;
  display          : flex;
  place-self       : center;
  grid-column      : 1;
  justify-content  : flex-end;
  align-items      : center;  
  background-color : lightskyblue;
}

#logo {
  width         : 8rem;
  margin-bottom : 2rem;
}

#input_button {  
  margin          : .5rem;
  grid-column     : 3;
  grid-row        : 4;
  place-self      : center;  
  width           : 7rem;
  height          : 2rem;
}

main {
  width: 100%;
  height: auto;
  display: grid;
  grid-row-gap: 2rem;
  grid-template-areas: 'a'
                       'b';
}

#pay_data {
  height: 25rem;
  width: 100%;
  grid-area: b;
  display: grid;
  grid-template-areas: 'head head head'
                       'reg_id reg_val reg_val'
                       'ot_id ot_val ot_val';
  background-color: lightskyblue;
  border              : .2rem solid #DCDCDC;
  overflow: visible;
}

#pay_data:hover {
  box-shadow: 3px 3px 15px grey inset;
  cursor: pointer;
}

#show_button {
  display: flex;  
  place-self: center;
  height: 2rem;
  width: auto;
}